<!DOCTYPE html>
<html lang="en" ng-app="MCS_ServiceApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MicroK12 Test</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    @RenderBody()

    <script src="@Url.Content("~/scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/scripts/angular-resource.min.js")"></script>
    <script src="@Url.Content("~/scripts/angular-route.min.js")"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
